doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  link(rel='icon' href='/favicon.ico')
  title conversation_flowchart_creator
  link(href='/css/app.7400ee72.css' rel='preload' as='style')
  link(href='/js/app.7432fbc3.js' rel='preload' as='script')
  link(href='/js/chunk-vendors.c9d508ca.js' rel='preload' as='script')
  link(href='/css/app.7400ee72.css' rel='stylesheet')
noscript
  strong
    | We&apos;re sorry but conversation_flowchart_creator doesn&apos;t work properly without JavaScript enabled. Please enable it to continue.
#app
script(src='/js/chunk-vendors.c9d508ca.js')
script(src='/js/app.7432fbc3.js')
